{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container">
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#experiences">Experiences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#skills">Skills</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="container tab-pane active" id="all"><br>
            {{ macro.display(pitches) }}
        </div>
        <div class="container tab-pane fade" id="hobbies"><br>
            {{ macro.display(hobbies)}}
        </div>
        <div class="container tab-pane fade" id="Experiences"><br>
            {{ macro.display(experiences) }}
        </div>
        <div class="container tab-pane fade" id="Skills"><br>
            {{ macro.display(skills) }}

        </div>
    </div>
</div>
{% endblock%}