<nav class="mb-1 navbar bg-info navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="{{url_for('main.index')}}"><strong>PitchApp</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.index')}}">Pitches</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.new_pitch')}}">Create New Pitch</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">

            {% if current_user.is_authenticated %}

            <li class="nav-item mr-3"><a class="nav-link"><strong> {{current_user.username}}</strong> </a></li>
            <li class="nav-item mr-3"><a class="nav-link" href="{{url_for('main.profile',name=current_user.username)}}"><strong>My Account</strong></a></li>
            <li class="nav-item mr-3"><a class="nav-link" href="{{url_for('auth.logout')}}"><strong>LogOut</strong></a></li>
            
            {% else %}
            
            <li class="nav-item mr-3"><a class="nav-link" href="{{url_for('auth.login')}}"><strong>LogIn</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('auth.signup')}}"><strong>SignUp</strong></a></li>
           
            {%endif%}

        </ul>
    </div>
</nav>